<!doctype html>
<html>
    <head>
        <title>Checkout</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,800italic,800,700italic,700,600italic,600,400italic,300%7CRoboto+Condensed:400,400i,700,700i%7CGreat+Vibes" rel="stylesheet">

        <!-- Bootstrap Stylesheet -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Font Awesome Stylesheet -->
        <link rel="stylesheet" href="css/fontawesome-all.min.css">

        <!-- Custom Stylesheets -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/orange.css">

        <script src="js/jquery.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase-firestore.js"></script>
        <script src=js/firebase.js></script>
    </head>

    <body class="page-body">
        <!--====== LOADER =====-->
        <div class="loader"></div>
        <!--============== USER-PROFILE-SIDEBAR =============-->
        <%- include partials/profile.ejs %>
        <div class="canvas">
            <div class="overlay-black"></div>
            <!--========= HEADER =========-->
            <%- include partials/header.ejs %>
            <!--=================== PAGE-WRAPPER ================-->
            <section class="page-wrapper innerpage-section-padding">
                <div id="checkout-page" >
                    <div class="container-fluid">
                        <div class="innerpage-heading cart-text-center">
                            <h3>Your Order</h3>
                        </div><!-- end innerpage-heading -->

                        <div class="order-list">
                            <ul class="list-unstyled">
                              <% var sum=0; %>
                              <% for(var i=0; i<data.length; i++) { %>
                                  <li id="<%= data[i].id %>-li">
                                    <div class="order">
                                        <div class="order-item">
                                            <div class="order-item-info">
                                                <h4><%= data[i].id %></h4>
                                                <p></p>
                                                <p class="order-item-price"><span>Price : <%= data[i].price %></span> , Qty : <%= data[i].qty %></p>
                                            </div><!-- end order-item-info -->

                                            <div class="order-item-img">
                                                <img src="images/<%= data[i].id%>.jpg" class="img-responsive" alt="order-img" />
                                            </div><!-- end order-img -->
                                        </div><!-- end order-item -->

                                        <div class="total">
                                            <p><%= data[i].qty %> x $<%= data[i].price %> = <span>$<%= data[i].qty * data[i].price %></span></p>
                                        </div><!-- end total -->
                                    </div><!-- end order-->
                                  </li>
                            <% sum = sum + (data[i].qty * data[i].price); %>
                            <% } %>
                            </ul>
                            <div class="cart-info text-center">
                                <h4>Total Price: <span><%= sum%></span></h4>
                            </div><!-- end cart-info -->
                        </div>
                    </div><!-- end container-fluid -->
                </div><!-- end checkout-page -->
            </section><!-- end page-wrapper -->

            <!--=============== FOOTER ===============-->
            <%- include partials/footer.ejs %>
        </div><!-- end canvas -->
   		<!-- Page Scripts Starts -->
        <script src="js/bootstrap.min.js"></script>
        <script src="js/custom-navigation.js"></script>
        <!-- Page Scripts Ends -->
    </body>
</html>
